In [1]:
import pandas as pd
import numpy as np

In [2]:
impact_ad = pd.read_excel("Data/IMPACT_Study/ADSTART0_2023-05-25_06-46-11.xlsx")
impact_serum = pd.read_excel("Data/IMPACT_Study/Serum antibody_2023-05-25_06-32-15.xlsx")
impact_ige = pd.read_excel("Data/Impact_Study/IgE_IgG4_component_2023-05-25_06-30-40.xlsx")
impact_spt = pd.read_excel("Data/Impact_study/Skin Prick Test_2023-05-25_06-31-04.xlsx")

# About Data Sets

#### ADSTART0_2023-05-25_06-46-11 
- Overview of participant data 

#### IgE_IgG4_component_2023-05-25_06-30-40
- IgE component levels in this dataset  

#### Serum antibody_2023-05-25_06-32-15
OFC results:
- "Passed Visit 24 OFC for ITT"
- "Passed Visit 24 OFC No Imputation"	
- "Passed Visit 26 OFC for ITT"
- "Passed Visit 26 OFC No Imputation"

#### Skin Prick Test_2023-05-25_06-31-04
- "Wheal (mm)"

#### BAT data_2023-05-25_06-31-20
- Stands for "basophil activation test (BAT)"
- No known use case for this model 

---

# Acronyms 
- Intent-to-treat (ITT)
- Oral Immunotherapy (OIT)
- Initial Dose Escalation (IDE)

# About Study 
- taken from 2022 Lancet_IMPACT.pdf (pdf page 3)  

Children aged 12 months or older and younger than 
48 months were screened for inclusion in the study. 

__Inclusion criteria__ included the following: a clinical 
history of peanut allergy or avoidance without ever 
having eaten peanut, peanut-specific IgE levels of 5 kUA/L 
or higher, a skin prick test (SPT) wheal size greater than 
that of saline control by 3 mm or more, and a positive 
reaction to a cumulative dose of 500 mg or less of peanut 
in a double-blind, placebo-controlled food challenge 
(DBPCFC).   

__exclusion criteria__ included a history of 
severe anaphylaxis with hypotension to peanut, more 
than mild asthma or uncontrolled asthma, uncontrolled 
atopic dermatitis, and eosinophilic gastrointestinal 
disease (the full list of exclusion criteria is presented in 
the appendix p 2).

---
# Study Design

This is a randomized, double-blind, placebo-controlled, multi-center study comparing peanut oral immunotherapy to placebo. Eligible participants with peanut allergy will be randomly assigned to receive either peanut OIT or placebo for 134 weeks followed by peanut avoidance for 26 weeks.  

An initial blinded oral food challenge (OFC) to 1 g of peanut flour (500 mg peanut protein) will be conducted. Participants must have a clinical reaction during this blinded OFC to initiate study dosing. After the initial blinded OFC, the study design includes the following:  

__Initial Dose Escalation:__ This will occur on a single day in which multiple doses are given. Peanut or placebo dosing will be given incrementally and increase every 15-30 minutes until a dose of 12 mg peanut flour (6 mg peanut protein) or placebo flour is given. The first four doses will be administered as a peanut flour extract of 0.1 to 0.8 mg peanut protein, which is 10 to 80 microliters peanut flour extract, or placebo flour extract and the last three doses will be given as peanut flour of 3 to 12 mg peanut flour 1.5 to 6 mg peanut protein or placebo flour. Participants must tolerate a dose of at least 3 mg peanut flour (1.5 mg peanut protein) or placebo flour to remain in the study.  

__Build-up:__ After the initial dose escalation day, the participant will return to the research unit the next morning for an observed dose administration of the highest tolerated dose from the initial escalation day. The participant will then continue on the daily OIT dosing at home and return to the research unit every 2 weeks for a dose escalation. The dosing escalations will be consistent with previous similar OIT studies.
  
Participants who do not reach the 4000 mg peanut flour (2000 mg peanut protein) or placebo flour dose during the build-up phase may enter maintenance phase at their highest tolerated dose, which must be at least 500 mg peanut flour (250 mg peanut protein) or placebo flour.  

The build-up phase will comprise 30 weeks.  

__Maintenance:__ The participant will continue on daily OIT with return visits every 13 weeks. At the end of this phase the participant will undergo a blinded OFC to 10 g peanut flour (5 g peanut protein).  
This phase will comprise 104 weeks.  

__Avoidance:__ In this final phase participants stop OIT and will avoid peanut consumption They will be seen 2 weeks and 26 weeks after initiating this phase. At the completion of this phase participants will have a final blinded OFC to 10 g peanut flour (5 g peanut protein). Participants who do not have a clinical reaction to the challenge will receive an Open Food Challenge (OpFC).  

Avoidance will comprise 26 weeks.  

__Post-challenge:__ If participants do not have a clinical reaction during the OpFC at the end of avoidance, they will be allowed to consume peanut and will have one visit which will include peripheral blood sampling for mechanistic assays assessments.  

Post-challenge will comprise 2 weeks.

---
# Exploring where and how OFCs are captured
Looking for 3 OFC tests in total

### 1st OFC: According to Study Design in protocol: 
-  Initial reaction: "An initial blinded oral food challenge (OFC) to 1 g of peanut flour (500 mg peanut protein) will be conducted. Participants must have a clinical reaction during this blinded OFC to initiate study dosing." (IDE)
- This was for 0.5 g peanut

### 2nd & 3rd OFC: According to Schedule of Assessments: Appendix 2:
- 5 g Oral Food Challenge performed during Avoidance phase during visit 24/week 134 and visit 26/week 160
- this was at or below 5 g peanut

---
# Filtering participants that were study eligible (n=144)
- Total participants enrolled = 209  
- Total participants eligible = 144
- Total excluded = 65 (62 that did not have OFC fail results + 2 that could not handle the IDE)

#### filtering solution (this will help filter initial screening OFC results too)
- filter by'ADSTART0 -> immpact_ad['Randomized']=="Yes" 
- filter by ADSTART0 -> "Study Termination Reason"-> "Inability to reach 3 mg peanut/placebo flour (1.5 mg peanut/placebo protein) during the initial dose escalation" (These are the two that terminated after being randomized but could not reach their IDE: 146-2 -> n=144)

Additional filter to get just those initial screening OFC rows:
- filter by visit -2 or -1 (this is the initial screening visit number)

Explanation: There doesn't seem to be a OFC column for the initial screening.   
However can filter criteria based on protocol to determine who failed their first OFC upon study intake and manually assign the OFC fail column.   
These would be the 144 participants that were eligible for the study and have a visit value of -2 or -1

In [3]:
# Useing 'Randomized' to filter out the 146 that passed the criteria and were randomly assigned for the study 
(impact_ad['Randomized']=="Yes").sum() #output = 146

# filtering out two more participants that failed during the initial dose escalation (IDE)
# These are the two that terminated after being randomized 146-2 -> n=144

(impact_ad['Study Termination Reason']=="Inability to reach 3 mg peanut/placebo flour (1.5 mg peanut/placebo protein) during the initial dose escalation").sum()
#output = 2

2

### Creating a new DF for just the eligible 144 randomly assigned participants 
- and removing unnecessary columns

In [4]:
impact_ad_eligible = impact_ad.loc[(impact_ad['Randomized'] == 'Yes') & ~(impact_ad['Study Termination Reason'] == 'Inability to reach 3 mg peanut/placebo flour (1.5 mg peanut/placebo protein) during the initial dose escalation')]

impact_ad_cols_to_keep = [
     'Participant ID',
     'Visit', # -2 is the initial participant screening 
     'Date of Screening Visit',
     'Randomized', # Use this to filter out participants that did not pass the study screening
     'Study Status', # Values: 'Discontinued Therapy', 'Completed Study', 'Enrolled but not Randomized', 'Early Termination', 'Screen Failure', 'Screened but not Enrolled'
     'Completed Study Protocol', # Values: 'No', 'Yes'
     'Sex (character)',
     'Race',
     'Completed Study Assessments Numeric', #1 for yes/ 0 for no (means attended all visits up to 26, excluding 27)
     'Age at screening (years)',
     'Age at Screening (years) Not Rounded'
]

# this DF only contains the 144 eligible participants 
impact_ad_eligible_filtered = impact_ad_eligible[impact_ad_cols_to_keep]

impact_ad_eligible_filtered = impact_ad_eligible_filtered.drop(columns=['Randomized'])

In [6]:
# renaming'Date of Screening Visit' to 'Collection Date' to match the other datasets 
impact_ad_eligible_filtered.rename(columns={'Date of Screening Visit': 'Collection Date'}, inplace=True)

In [7]:
print(impact_ad_eligible_filtered.shape)
# correct number of participants now (144)
impact_ad_eligible_filtered.head()

(144, 10)

,Participant ID,Visit,Collection Date,Study Status,Completed Study Protocol,Sex (character),Race,Completed Study Assessments Numeric,Age at screening (years),Age at Screening (years) Not Rounded
0,IMPACT_101655,NaN,2012-10-11,Discontinued Therapy,No,Male,White/Caucasian,0,4,3.8
1,IMPACT_102436,NaN,2013-03-14,Completed Study,Yes,Male,White/Caucasian,1,4,3.9
2,IMPACT_105670,NaN,2013-04-04,Completed Study,Yes,Female,White/Caucasian,1,3,3.0
4,IMPACT_113135,NaN,2013-11-25,Early Termination,No,Female,White/Caucasian,0,3,2.6
5,IMPACT_115876,NaN,2014-03-19,Completed Study,Yes,Male,Mixed Race,1,2,2.2

#### Getting a list of the 144 participant IDs

In [8]:
participant_ids = impact_ad_eligible_filtered['Participant ID'].unique()
print(len(participant_ids)) #output 144 unique participant IDs

144

---
# Serum Dataset & IgE_IgG4_component Common Features

Duplicate OFC data between both data sets with different labels.  
These columns in Serum:

- 'Passed Visit 24 OFC for ITT',
- 'Passed Visit 24 OFC No Imputation',
- 'Passed Visit 26 OFC for ITT',
- 'Passed Visit 26 OFC No Imputation',
 
are the same data as these columns in IgE_IgG4_component

- OUT24ITT	
- OUT24NOI	
- OUT26ITT	
- OUT26NOI

---

#### Will take 'Peanut IgE' and 'Total IgE' from column 'Test Name' in Serum data  
#### Will take 'Component' and values columns from IgE_IgG4_component

# Serum Cleaning
- taking Peanut IgE and Total IgE from this data set

In [9]:
# checking total unique participants is the same
len(impact_serum['Participant ID'].unique().tolist())
# output 146

146

In [ ]:
impact_serum.columns.tolist()

In [13]:
#filtering by just the participant IDs in the eligible list
impact_serum_eligible = impact_serum[impact_serum['Participant ID'].isin(participant_ids)]

impact_serum_cols_to_keep = [
    'Participant ID',
    'Collection Date',
    'Visit',
    'Test Name', # Peanut IgE, Peanut IgE/Total IgE ratio, Peanut IgG4*, Peanut IgG4/IgE ratio, Total IgE
    'Unit',
    'Value', # results from 'Test Name'
    'Baseline Value', # IgE values taken during initial screening
    'Passed Visit 24 OFC No Imputation',
    'Passed Visit 26 OFC No Imputation',
#     'Tolerance outcome', # has values of nan,  2.,  4.,  1.,  3.
#     'Tolerance outcome (character)' # has values of nan, 'Desen_no_Tol', 'No_Desen_no_Tol', 'Desen_Tol', 'No_Desen_Tol
]

# question for Dr. Gryak on what these mean: 
# 'Tolerance outcome', has values of nan,  2.,  4.,  1.,  3.
# 'Tolerance outcome (character)', has values of nan, 'Desen_no_Tol', 'No_Desen_no_Tol', 'Desen_Tol', 'No_Desen_Tol

impact_serum_eligible_filtered = impact_serum_eligible[impact_serum_cols_to_keep]

In [14]:
#checking to see the above filtering kept the correct number of 144 participants 
len(impact_serum_eligible_filtered['Participant ID'].unique().tolist()) #output 144 - correct

144

In [15]:
print(impact_serum_eligible_filtered.shape)
impact_serum_eligible_filtered.head()

(3059, 9)

,Participant ID,Collection Date,Visit,Test Name,Unit,Value,Baseline Value,Passed Visit 24 OFC No Imputation,Passed Visit 26 OFC No Imputation
0,IMPACT_101655,2012-10-11,-2,Peanut IgE,kU/L,25.700000,25.700000,NaN,NaN
1,IMPACT_101655,2012-10-11,-2,Peanut IgE/Total IgE ratio,Ratio,27.934783,27.934783,NaN,NaN
2,IMPACT_101655,2012-10-11,-2,Peanut IgG4*,mcg/mL,0.300000,0.300000,NaN,NaN
3,IMPACT_101655,2012-10-11,-2,Peanut IgG4/IgE ratio,Ratio,0.004864,0.004864,NaN,NaN
4,IMPACT_101655,2012-10-11,-2,Total IgE,IU/mL,92.000000,92.000000,NaN,NaN

### Making a new DF with a new column capturing initial OFC fail 
calling it "Passed Visit -2 OFC" to match other OFC columns
- Doing this because according to protocol, 144 participants enterered the study because they passed all the eligibility criteria AND __had a clinical reaction to the intake OFC, thus all 144 participants had a failed OFC status for their -2 visit__

In [16]:
impact_serum_eligible_filtered['Passed Visit -2 OFC'] = 0
impact_serum_eligible_filtered.head()

<ipython-input-16-a8695515e8b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  impact_serum_eligible_filtered['Passed Visit -2 OFC'] = 0

,Participant ID,Collection Date,Visit,Test Name,Unit,Value,Baseline Value,Passed Visit 24 OFC No Imputation,Passed Visit 26 OFC No Imputation,Passed Visit -2 OFC
0,IMPACT_101655,2012-10-11,-2,Peanut IgE,kU/L,25.700000,25.700000,NaN,NaN,0
1,IMPACT_101655,2012-10-11,-2,Peanut IgE/Total IgE ratio,Ratio,27.934783,27.934783,NaN,NaN,0
2,IMPACT_101655,2012-10-11,-2,Peanut IgG4*,mcg/mL,0.300000,0.300000,NaN,NaN,0
3,IMPACT_101655,2012-10-11,-2,Peanut IgG4/IgE ratio,Ratio,0.004864,0.004864,NaN,NaN,0
4,IMPACT_101655,2012-10-11,-2,Total IgE,IU/mL,92.000000,92.000000,NaN,NaN,0

### filtering out from 'Test Name' everything but 'Peanut IgE' and 'Total IgE'

In [17]:
# removing rows from 'Test Name' for everything except 'Peanut IgE' and 'Total IgE'

#defining list to keep
keep_IgEs = ['Peanut IgE', 'Total IgE']

impact_serum_eligible_filtered = impact_serum_eligible_filtered[impact_serum_eligible_filtered['Test Name'].isin(keep_IgEs)]

In [18]:
impact_serum_eligible_filtered['Test Name'].unique()

array(['Peanut IgE', 'Total IgE'], dtype=object)

In [19]:
print(impact_serum_eligible_filtered.shape)
impact_serum_eligible_filtered.head()

(1221, 10)

,Participant ID,Collection Date,Visit,Test Name,Unit,Value,Baseline Value,Passed Visit 24 OFC No Imputation,Passed Visit 26 OFC No Imputation,Passed Visit -2 OFC
0,IMPACT_101655,2012-10-11,-2,Peanut IgE,kU/L,25.7,25.7,NaN,NaN,0
4,IMPACT_101655,2012-10-11,-2,Total IgE,IU/mL,92.0,92.0,NaN,NaN,0
5,IMPACT_101655,2013-05-28,16,Peanut IgE,kU/L,80.8,25.7,NaN,NaN,0
9,IMPACT_101655,2013-05-28,16,Total IgE,IU/mL,442.0,92.0,NaN,NaN,0
10,IMPACT_102436,2013-03-14,-2,Peanut IgE,kU/L,36.2,36.2,1.0,0.0,0

--- 
# IgE_IgG4_component Cleaning
- taking the components from this data set

In [ ]:
impact_ige.columns.tolist()

In [20]:
#filtering by just the participant IDs in the eligible list
impact_ige_eligible = impact_ige[impact_ige['Participant ID'].isin(participant_ids)]

impact_ige_cols_to_keep = [
    'Participant ID',
    'Visit',
    'Antibody', #IgE, IgG4
    'Component', #rAra h 1, rAra h 2, rAra h 3, rAra h 6
    'Value',
    'Unit',
    'Baseline Value',
    'Collection Date',   
]

impact_ige_eligible_filtered = impact_ige_eligible[impact_ige_cols_to_keep]

In [21]:
#dropping IgG4 from Antibody column, only want IgE
impact_ige_eligible_filtered = impact_ige_eligible_filtered[impact_ige_eligible_filtered['Antibody']=='IgE']

In [22]:
print(impact_ige_eligible_filtered.shape)
impact_ige_eligible_filtered.head(10)

(2416, 8)

,Participant ID,Visit,Antibody,Component,Value,Unit,Baseline Value,Collection Date
0,IMPACT_101655,-2,IgE,rAra h 1,8.76,KU/L,8.76,2012-10-11
1,IMPACT_101655,-2,IgE,rAra h 2,27.50,KU/L,27.50,2012-10-11
2,IMPACT_101655,-2,IgE,rAra h 3,0.50,KU/L,0.50,2012-10-11
3,IMPACT_101655,-2,IgE,rAra h 6,17.30,kUA/L,17.30,2012-10-11
8,IMPACT_101655,16,IgE,rAra h 1,58.00,kUA/L,8.76,2013-05-28
9,IMPACT_101655,16,IgE,rAra h 2,81.80,kUA/L,27.50,2013-05-28
10,IMPACT_101655,16,IgE,rAra h 3,1.02,kUA/L,0.50,2013-05-28
11,IMPACT_101655,16,IgE,rAra h 6,72.90,kUA/L,17.30,2013-05-28
16,IMPACT_102436,-2,IgE,rAra h 1,2.34,KU/L,2.34,2013-03-14
17,IMPACT_102436,-2,IgE,rAra h 2,48.10,KU/L,48.10,2013-03-14

# Skin Prick Test cleaning 
(Skin Prick Test_2023-05-25_06-31-04.xlsx)

- taking wheal from this data set

In [23]:
# checking total unique participants is the same
len(impact_spt['Participant ID'].unique().tolist())
# output 146

146

In [24]:
impact_spt.columns.tolist()

['Participant ID',
 'Visit',
 'DataStream code',
 'PHASE',
 'SEQNO',
 'VISITNUM',
 'Date of Allergy Skin Test (Character)',
 'Positive Control Wheal',
 'Positive Control Wheal (Character)',
 'Negative Control Wheal',
 'Negative Control Wheal (Character)',
 'Allergen',
 'Wheal (mm)',
 'Wheal (mm) (Character)',
 'Calculated Wheal',
 'Calculated Wheal (Character)',
 'Planned Treatment',
 'Planned Treatment (N)',
 'Randomized',
 'Intent to Treat Sample',
 'Age at screening (years)',
 'Age at screening (years) Not Rounded',
 'Sex (character)',
 'OUT24ITT',
 'OUT24NOI',
 'OUT26ITT',
 'OUT26NOI',
 'Week',
 'Tolerance outcome',
 'Tolerance outcome (character)',
 'Wheal (mm) baseline',
 'Calculated Wheal baseline',
 'Wheal fold change from baseline',
 'Calculated wheal fold change from baseline',
 'Per-protocol Primary Endpoint',
 'Per-protocol Secondary Endpoint']

In [25]:
#filtering by just the participant IDs in the eligible list
impact_spt_eligible = impact_spt[impact_spt['Participant ID'].isin(participant_ids)]

impact_spt_cols_to_keep = [
    'Participant ID',
    'Date of Allergy Skin Test (Character)', # this is similar to 'Collection Date' in other datasets 
    'Visit',
    'Wheal (mm)',
    'Wheal (mm) baseline'
]

impact_spt_eligible_filtered = impact_spt_eligible[impact_spt_cols_to_keep]

In [26]:
#checking to see the above filtering kept the correct number of 144 participants 
len(impact_spt_eligible_filtered['Participant ID'].unique().tolist()) #output 144 - correct

144

In [27]:
print(impact_spt_eligible_filtered.shape)
impact_spt_eligible_filtered.head()

(619, 5)

,Participant ID,Date of Allergy Skin Test (Character),Visit,Wheal (mm),Wheal (mm) baseline
0,IMPACT_101655,2012-10-11,-2,17.5,17.5
1,IMPACT_101655,2013-05-28,16,4.5,17.5
2,IMPACT_102436,2013-03-14,-2,16.0,16.0
3,IMPACT_102436,2013-11-26,16,9.5,16.0
4,IMPACT_102436,2014-11-28,20,NaN,16.0

---
# Building Baseline Datasets
Separating baseline data from rest of data.  
Baseline data varies from rest of the test visits in a few ways:
- interpretting OFC pass results from protocol and filtering
- components units are different than that of the follow up visits (16,21,24,26)

In [ ]:
# impact_ad_eligible_filtered (144, 12)
# impact_serum_eligible_filtered
# impact_ige_eligible_filtered
# impact_spt_eligible_filtered

---
# Cleaning ad baseline

summary:
- dropping all rows for visits that are not -2 the initial visit
- dropping all non baseline columns
- Create new columns for Age in months

In [ ]:
#updating the 'Visit' column to say -2 since this is intake information
impact_ad_eligible_baseline = impact_ad_eligible_filtered
impact_ad_eligible_baseline['Visit'] = '-2'
print(impact_ad_eligible_baseline.shape) #144 total entries in the DF = 144 unique participant IDs
impact_ad_eligible_baseline.head()

In [ ]:
impact_ad_eligible_baseline = impact_ad_eligible_baseline.drop(columns=['Age at screening (years)', 'Race Listing', 'Ethnicity'])
impact_ad_eligible_baseline.head()

In [ ]:
#convering the 'Age at Screening (years) Not Rounded' to months 
impact_ad_eligible_baseline['Age'] = impact_ad_eligible_baseline['Age at Screening (years) Not Rounded'] * 12
impact_ad_eligible_baseline = impact_ad_eligible_baseline.drop(columns=['Age at Screening (years) Not Rounded','Visit'])

In [ ]:
print(impact_ad_eligible_baseline.shape)
impact_ad_eligible_baseline.head()

In [ ]:
# renaming 'Date of Screening Visit' to 'Collection Date' for merger later
impact_ad_eligible_baseline = impact_ad_eligible_baseline.rename(columns={'Date of Screening Visit': 'Collection Date'})

In [ ]:
print(impact_ad_eligible_baseline.shape)
impact_ad_eligible_baseline.head()

# Conclusion about 'impact_ad_eligible_baseline' dataframe: 

144 unique participant IDs  
144 rows

---
# Cleaning serum baseline 
summary:
- dropping all rows for visits that are not -2 the initial visit
- dropping all non baseline columns
- Create new columns for 'Peanut IgE kU/L', 'Total IgE IU/mL'
- Merging duplicate rows and overwriting NaN values

In [ ]:
impact_serum_eligible_baseline = impact_serum_eligible_filtered

# dropping all rows for visits that are not -2 the initial visit
impact_serum_eligible_baseline = impact_serum_eligible_baseline[impact_serum_eligible_baseline['Visit'] == -2]

# dropping all non baseline columns
impact_serum_eligible_baseline = impact_serum_eligible_baseline.drop(columns=['Passed Visit 24 OFC No Imputation', 
                                                                        'Passed Visit 26 OFC No Imputation',
                                                                        'Tolerance outcome',
                                                                        'Tolerance outcome (character)',
                                                                        'Value',
                                                                        'Visit',
                                                                        'Planned Treatment'
                                                                       ])

In [ ]:
len(impact_serum_eligible_baseline['Participant ID'].unique().tolist())

In [ ]:
impact_serum_eligible_baseline.head()

In [ ]:
# Create new columns with initial NaN values
impact_serum_eligible_baseline['Peanut IgE kU/L'] = np.nan
impact_serum_eligible_baseline['Total IgE IU/mL'] = np.nan

# Populate the new columns based on conditions
impact_serum_eligible_baseline.loc[impact_serum_eligible_baseline['Test Name'] == 'Peanut IgE', 'Peanut IgE kU/L'] = impact_serum_eligible_baseline.loc[impact_serum_eligible_baseline['Test Name'] == 'Peanut IgE', 'Baseline Value']
impact_serum_eligible_baseline.loc[impact_serum_eligible_baseline['Test Name'] == 'Total IgE', 'Total IgE IU/mL'] = impact_serum_eligible_baseline.loc[impact_serum_eligible_baseline['Test Name'] == 'Total IgE', 'Baseline Value']

# Drop the specified columns
impact_serum_eligible_baseline = impact_serum_eligible_baseline.drop(columns=['Test Name', 'Unit', 'Baseline Value'])

In [ ]:
len(impact_serum_eligible_baseline['Participant ID'].unique().tolist())

In [ ]:
print(impact_serum_eligible_baseline.shape) # (284, 6)
impact_serum_eligible_baseline.head()
# note if all of the 144 participants had 2 rows for Peanut and Total, we'd have 288, but we have 284

In [ ]:
# Merging duplicate rows and overwriting NaN values

# Group by columns and aggregate using the mean (for numeric columns) or first (for non-numeric columns)
impact_serum_eligible_baseline_merged = impact_serum_eligible_baseline.groupby(['Participant ID', 'Collection Date', 'Passed Visit -2 OFC'], as_index=False).agg({'Peanut IgE kU/L': 'mean', 'Total IgE IU/mL': 'mean'})

# Reset the index
impact_serum_eligible_baseline_merged.reset_index(drop=True, inplace=True)

In [ ]:
impact_serum_eligible_baseline_merged.head(10)

In [ ]:
print(len(impact_serum_eligible_baseline_merged['Participant ID'].unique().tolist()))
print(impact_serum_eligible_baseline_merged.shape)

In [ ]:
##### WHY ARE THERE NOT 144 ROWS?! if eveyrthing merged correctly there should only be 144 rows

In [ ]:
#making a df of just the rows with nan values
serum_nan_rows = impact_serum_eligible_baseline_merged[impact_serum_eligible_baseline_merged.isna().any(axis=1)]

In [ ]:
print(serum_nan_rows.shape)
serum_nan_rows.head(34)

In [ ]:
len(serum_nan_rows['Participant ID'].unique().tolist())

# Conclusion about 'impact_serum_eligible_baseline_merged' dataframe: 

144 unique participant IDs  
159 rows becauase couldn't merge all of them due to:
- 15 participants had their IgE values read on different dates
- 4 only had ONE of their IgE values read during intake

---
# Cleaning IgE baseline 
summary:
- dropping all rows for visits that are not -2 the initial visit
- dropping all non baseline columns
- Create new columns for components
- Merging duplicate rows and overwriting NaN values

In [ ]:
impact_ige_eligible_baseline = impact_ige_eligible_filtered

In [ ]:
print(len(impact_ige['Participant ID'].unique().tolist()))

In [ ]:
print(len(impact_ige_eligible_filtered['Participant ID'].unique().tolist()))

In [ ]:
print(len(impact_ige_eligible_baseline['Participant ID'].unique().tolist()))

In [ ]:
# just the participant IDs for those who don't have -2 in their history
impact_ige_eligible_baseline_2 = impact_ige_eligible_baseline[impact_ige_eligible_baseline['Visit'] == -2]

In [ ]:
len(impact_ige_eligible_baseline_2['Participant ID'].unique().tolist())

In [ ]:
participant_ids = impact_ige_eligible_baseline[~impact_ige_eligible_baseline['Participant ID'].isin(impact_ige_eligible_baseline_2['Participant ID'])]['Participant ID'].tolist()

In [ ]:
#dropping duplicates
participant_ids = list(set(participant_ids))
participant_ids

# output: ['IMPACT_149018', 'IMPACT_746400', 'IMPACT_920870'] THESE ARE THE 3 

# manually checking these IDs in the IgE spreadsheet; 

# IMPACT_149018 
# in IgE dataset; missing -2 and 16  visit, missing component baseline values 
# in serum dataset; Confirming baseline obtained for Peanut IgE but missing Total IgE
# in ad dataset; Study Statys = Early Termination

# IMPACT_746400
# in IgE dataset; missing -2 visit, missing component baseline values 
# in serum dataset; Confirming baseline obtained for Peanut IgE but missing Total IgE
# in ad dataset; Study Status = Completed Study

# IMPACT_920870
# in IgE dataset; missing -2 visit, missing component baseline values
# in serum dataset; Confirming baseline obtained for Peanut IgE but missing Total IgE
# in ad dataset; Study Status = Completed Study

In [ ]:
# removing these from the baseline data 
impact_ige_eligible_baseline = impact_ige_eligible_filtered[~impact_ige_eligible_filtered['Participant ID'].isin(participant_ids)]

In [ ]:
print(len(impact_ige_eligible_baseline['Participant ID'].unique().tolist()))
# output 141, correctly filtered out the participants with missing baseline data

In [ ]:
# dropping all rows for visits that are not -2 the initial visit
impact_ige_eligible_baseline = impact_ige_eligible_baseline[impact_ige_eligible_baseline['Visit'] == -2]

# dropping all non baseline columns
impact_ige_eligible_baseline = impact_ige_eligible_baseline.drop(columns=['Value', 
                                                                        'Visit'
                                                                         ])

In [ ]:
print(impact_ige_eligible_baseline.shape)
impact_ige_eligible_baseline.head()

In [ ]:
# Creating new columns for each component

# Create new columns with initial NaN values
impact_ige_eligible_baseline['Ara h1 (kU/L)'] = np.nan
impact_ige_eligible_baseline['Ara h2 (kU/L)'] = np.nan
impact_ige_eligible_baseline['Ara h3 (kU/L)'] = np.nan
impact_ige_eligible_baseline['Ara h6 (kUA/L)'] = np.nan

# Populate the new columns based on conditions
impact_ige_eligible_baseline.loc[impact_ige_eligible_baseline['Component'] == 'rAra h 1', 'Ara h1 (kU/L)'] = impact_ige_eligible_baseline.loc[impact_ige_eligible_baseline['Component'] == 'rAra h 1', 'Baseline Value']
impact_ige_eligible_baseline.loc[impact_ige_eligible_baseline['Component'] == 'rAra h 2', 'Ara h2 (kU/L)'] = impact_ige_eligible_baseline.loc[impact_ige_eligible_baseline['Component'] == 'rAra h 2', 'Baseline Value']
impact_ige_eligible_baseline.loc[impact_ige_eligible_baseline['Component'] == 'rAra h 3', 'Ara h3 (kU/L)'] = impact_ige_eligible_baseline.loc[impact_ige_eligible_baseline['Component'] == 'rAra h 3', 'Baseline Value']
impact_ige_eligible_baseline.loc[impact_ige_eligible_baseline['Component'] == 'rAra h 6', 'Ara h6 (kUA/L)'] = impact_ige_eligible_baseline.loc[impact_ige_eligible_baseline['Component'] == 'rAra h 6', 'Baseline Value']

# Drop the specified columns
impact_ige_eligible_baseline = impact_ige_eligible_baseline.drop(columns=['Antibody', 'Component', 'Baseline Value', 'Unit'])

In [ ]:
print(impact_ige_eligible_baseline.shape)
impact_ige_eligible_baseline.head()

In [ ]:
# Merging duplicate rows and overwriting NaN values

# Group by columns and aggregate using the mean (for numeric columns) or first (for non-numeric columns)
impact_ige_eligible_baseline_merged = impact_ige_eligible_baseline.groupby(['Participant ID', 'Collection Date'], as_index=False).agg({'Ara h1 (kU/L)': 'mean', 'Ara h2 (kU/L)': 'mean', 'Ara h3 (kU/L)': 'mean', 'Ara h6 (kUA/L)': 'mean'})

# Reset the index
impact_ige_eligible_baseline_merged.reset_index(drop=True, inplace=True)

In [ ]:
print(impact_ige_eligible_baseline_merged.shape)
impact_ige_eligible_baseline_merged.head(50)

In [ ]:
print(len(impact_ige_eligible_baseline_merged['Participant ID'].unique().tolist()))

In [ ]:
# checking which rows have NaN Values 
ig_nan_rows = impact_ige_eligible_baseline_merged[impact_ige_eligible_baseline_merged.isna().any(axis=1)]

In [ ]:
print(ig_nan_rows.shape)
ig_nan_rows.head(72)

In [ ]:
# getting the participant IDs with the NaN values
nan_participant_ids = impact_ige_eligible_baseline_merged.loc[impact_ige_eligible_baseline_merged.isna().any(axis=1), 'Participant ID'].tolist()
nan_participant_ids

In [ ]:
#dropping duplicates
nan_participant_ids = list(set(nan_participant_ids))
nan_participant_ids

len(nan_participant_ids)

# Conclusion about 'impact_ige_eligible_baseline_merged' dataframe: 

141 unique participant IDs because
- 3 did not have baseline data for initial visit  
177 rows becauase couldn't merge all of them due to:
- 36 participants had their component values read on different dates

# Seeing all baseline columns so far

In [ ]:
#impact_ige_eligible_baseline_merged
#impact_serum_eligible_baseline_merged
#impact_ad_eligible_baseline

In [ ]:
# Finding the participant IDs that are common among all 3 baseline data frames
ige_list = impact_ige_eligible_baseline_merged['Participant ID'].tolist()
serum_list = impact_serum_eligible_baseline_merged['Participant ID'].tolist()
ad_list = impact_ad_eligible_baseline['Participant ID'].tolist()

common_participants = set(ige_list).intersection(serum_list, ad_list)
common_participants = list(common_participants)

In [ ]:
len(common_participants)
#output 141

In [ ]:
# Updating each data frame so that they only contain the common participants 
impact_ige_eligible_baseline_merged_common = impact_ige_eligible_baseline_merged[impact_ige_eligible_baseline_merged['Participant ID'].isin(common_participants)]
impact_serum_eligible_baseline_merged_common = impact_serum_eligible_baseline_merged[impact_serum_eligible_baseline_merged['Participant ID'].isin(common_participants)]
impact_ad_eligible_baseline_common = impact_ad_eligible_baseline[impact_ad_eligible_baseline['Participant ID'].isin(common_participants)]

In [ ]:
print(impact_ige_eligible_baseline_merged_common.shape)
print(impact_serum_eligible_baseline_merged_common.shape)
print(impact_ad_eligible_baseline_common.shape)

In [ ]:
impact_ige_eligible_baseline_merged_common.head()

In [ ]:
impact_serum_eligible_baseline_merged_common.head()

In [ ]:
impact_ad_eligible_baseline_common.head()

In [ ]:
#Merging Serum and Ad baselines
# outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
merged_serum_ad = impact_serum_eligible_baseline_merged_common.merge(impact_ad_eligible_baseline_common, 
                                                               how='outer', 
                                                               on=['Participant ID', 'Collection Date'])

In [ ]:
print(merged_serum_ad.shape)
merged_serum_ad.head()

In [ ]:
#Merging the merged with impact_ige_eligible_baseline_merged_common baselines
merged_serum_ad_ige_baseline = impact_ige_eligible_baseline_merged_common.merge(merged_serum_ad, 
                                                               how='outer', 
                                                               on=['Participant ID', 'Collection Date'])

In [ ]:
print(merged_serum_ad_ige_baseline.shape)
merged_serum_ad_ige_baseline.head()

In [ ]:
# exporting this to .xlsx to finish parsing manually

merged_serum_ad_ige_baseline.to_excel('merged_serum_ad_ige_baseline.xlsx', index=False)

In [ ]:
# importing back in the cleaned file 

merged_serum_ad_ige_baseline_clean = pd.read_excel("Data/Impact_Study/merged_serum_ad_ige_baseline_clean.xlsx")

In [ ]:
print(merged_serum_ad_ige_baseline_clean.shape)
merged_serum_ad_ige_baseline_clean.head()

In [ ]:
merged_serum_ad_ige_baseline_clean = merged_serum_ad_ige_baseline_clean.drop(columns=['Collection Date', 
                                                                                      'Study Status',
                                                                                      'Completed Study Assessments Numeric',
                                                                                      'Collection Date',
                                                                                      'Completed Study Protocol'
                                                                                     ])

In [ ]:
print(merged_serum_ad_ige_baseline_clean.shape)
merged_serum_ad_ige_baseline_clean.head()

# STOPED HERE Just need to add the baseline Wheal 
Pick up from here:
- add the wheal 
- break out 1-hot columns 
- clean up this document; break it into baseline cleaning and save separately

# Everything after this is code saved "for later" - Ignore for now

Seeing all non-baseline columns so far

In [ ]:
impact_ad_eligible_filtered.columns.tolist()

In [ ]:
impact_serum_eligible_filtered.columns.tolist()

In [ ]:
impact_ige_eligible_filtered.columns.tolist()

In [ ]:
# seeing if ad['Date of Screening Visit'] is the same as serum['Collection Date'] and ige['Collection Date']
filtered_rows_ad = impact_ad_eligible_filtered[impact_ad_eligible_filtered['Participant ID'] == 'IMPACT_101655']
filtered_rows_serum = impact_serum_eligible_filtered[impact_serum_eligible_filtered['Participant ID'] == 'IMPACT_101655']
filtered_rows_ige = impact_ige_eligible_filtered[impact_ige_eligible_filtered['Participant ID'] == 'IMPACT_101655']

In [ ]:
filtered_rows_ad.head()

In [ ]:
filtered_rows_serum.head()

In [ ]:
filtered_rows_ige.head(10)

### Confirming 
ad['Date of Screening Visit'],  
serum['Collection Date'], and  
ige['Collection Date']  
__are the same date for -2 visit__

In [ ]:
######ISSUEEEEEE
# For the components: In IgE_IgG4_component dataset, looks like baseline IgE measurements (-2 visit) are 
# measured in kU/L whereas all following visits(16, 21, 24, 26) are measured in kUA/L. 

######HAVE to alter the following code 

# Create new columns with initial NaN values
impact_ige_eligible_filtered['Ara h1 (kU/L)'] = ''
impact_ige_eligible_filtered['Ara h2 (kU/L)'] = ''
impact_ige_eligible_filtered['Ara h3 (kU/L)'] = ''
impact_ige_eligible_filtered['Ara h6 (kUA/L)'] = ''

# Populate the new columns based on conditions
impact_ige_eligible_filtered.loc[impact_ige_eligible_filtered['Component'] == 'rAra h 1', 'Ara h1 (kU/L)'] = impact_ige_eligible_filtered.loc[impact_ige_eligible_filtered['Component'] == 'rAra h 1', 'Value']
impact_ige_eligible_filtered.loc[impact_ige_eligible_filtered['Component'] == 'rAra h 2', 'Ara h2 (kU/L)'] = impact_ige_eligible_filtered.loc[impact_ige_eligible_filtered['Component'] == 'rAra h 2', 'Value']
impact_ige_eligible_filtered.loc[impact_ige_eligible_filtered['Component'] == 'rAra h 3', 'Ara h3 (kU/L)'] = impact_ige_eligible_filtered.loc[impact_ige_eligible_filtered['Component'] == 'rAra h 3', 'Value']
impact_ige_eligible_filtered.loc[impact_ige_eligible_filtered['Component'] == 'rAra h 6', 'Ara h6 (kUA/L)'] = impact_ige_eligible_filtered.loc[impact_ige_eligible_filtered['Component'] == 'rAra h 6', 'Value']

# Drop the specified columns
impact_ige_eligible_filtered = impact_ige_eligible_filtered.drop(columns=['Antibody', 'Component', 'Value', 'Unit'])

In [ ]:
impact_ige_eligible_filtered.head()

In [ ]:
# Breaking out Peanut IgE and Total IgE into their own columns 

# Create new columns with initial NaN values
impact_serum_eligible_filtered['Peanut IgE kU/L'] = ''
impact_serum_eligible_filtered['Total IgE IU/mL'] = ''

# Populate the new columns based on conditions
impact_serum_eligible_filtered.loc[impact_serum_eligible_filtered['Test Name'] == 'Peanut IgE', 'Peanut IgE kU/L'] = impact_serum_eligible_filtered.loc[impact_serum_eligible_filtered['Test Name'] == 'Peanut IgE', 'Value']
impact_serum_eligible_filtered.loc[impact_serum_eligible_filtered['Test Name'] == 'Total IgE', 'Total IgE IU/mL'] = impact_serum_eligible_filtered.loc[impact_serum_eligible_filtered['Test Name'] == 'Total IgE', 'Value']

# Remove the 'Test Name', 'Unit', and 'Value' columns
impact_serum_eligible_filtered = impact_serum_eligible_filtered.drop(columns=['Test Name', 'Unit', 'Value'])

In [ ]:
impact_serum_eligible_filtered.head()

### OFC Results column notes

#### Will use 'Passed Visit 24 OFC No Imputation' and 'Passed Visit 26 OFC No Imputation' columns for OFC results.  

This is because the other OFC column uses a model/imputation to fill in the values. I validated that this is true by counting the unique participant IDs for those who had NaN values in the No Imputation column and read (somewhere) that a model was made to impute these values. 

In reality: 
Total participants from OIT and Placebo side that dropped between n=144 initial dose escalation and visit 24 is (4+6)+(9+9) = __28 dropped before week 24 visit__

#### Rule: If column contains Nan, then they did not take the OFC during that visit

In [ ]:
# counting the number of unique participant IDs who have NaN values for 'Passed Visit 24 OFC No Imputation'. 
# Should be 28

filtered_df = impact_serum_eligible_filtered[(impact_serum_eligible_filtered['Passed Visit 24 OFC No Imputation'].isnull() | 
                                             (impact_serum_eligible_filtered['Passed Visit 24 OFC No Imputation'] == "") |
                                             impact_serum_eligible_filtered['Passed Visit 24 OFC No Imputation'].isna())]

In [ ]:
len(filtered_df['Participant ID'].unique().tolist())
# output is 28 as expected


## To Do - keep filtering to determine who finished the study
determine 70 completed (peanut) + 23 completed (placebo) = 103 completed
- 'Last Visit Number from Scheduled Visits'] == 26 only gave 84. Pick up exploring from here