In [1]:
import pandas as pd
import numpy as np

# Loading the LEAP Dataset for reference
#### this code comes from the "Revised LEAP Pipeline" notebook

In [2]:
import matplotlib.pyplot as plt
def save_fig(fig_id,FIG_PATH=None, tight_layout=True, fig_extension="png", resolution=300):
    if FIG_PATH is not None:
        path = os.path.join(SHAP_PATH, fig_id + "." + fig_extension)
    else:
        path = fig_id + "." + fig_extension
    
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)
    
    
#Aleks' file pathway cell

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sys

#change to save data/models to file
SAVE_OUTPUT = True
NUM_FOLDS = 5
SEED = 1211

#change paths as necessary
DROPBOX_PATH=r"/Users/aleksandrageorgievska/Downloads/0-SummerResearch/Data"
GITHUB_PATH = r"/Users/aleksandrageorgievska/Downloads/0-SummerResearch"

#set paths to data files
DBX_OFC_FILE = ["LEAP_Study", r'leap-all-final-pipeline.xlsx']
DBX_UM_VALIDATION_FILE = ['Work','Research','Food Allery with Chase',r"JGryakPeanutData All Subjects-working.xlsx"]
OFC_FILE= os.path.join(DROPBOX_PATH,*DBX_OFC_FILE)
UM_VALIDATION_FILE= os.path.join(DROPBOX_PATH,*DBX_UM_VALIDATION_FILE)

#import LUCCK from separate repository
GH_LUCCK_PATH="LUCCK"
LUCCK_PATH=os.path.join(GITHUB_PATH,GH_LUCCK_PATH)
sys.path.insert(0, LUCCK_PATH)
from ncn import NCN


#leap dataset columns
perm_cols=["Age",
    "Male",
    "White",
    "Black",
    "Asian",
    "Other",
    "Mixed",
    "Unknown",
    "Wheal (mm)",
    "Flare (mm)",
    "Total IgE (kU/L)",
    "Peanut IgE (kU/L)",
    "Ara h1 (kU/L)",
    "Ara h2 (kU/L)",
    "Ara h3 (kU/L)",
    "Ara h8 (kU/L)",
    "Ara h9 (kU/L)",
    "OFC Pass"]


#check leap data permutation loading
leap_dataset = pd.read_excel(OFC_FILE,header=None,names=perm_cols)
print(leap_dataset.shape)
leap_dataset.head()

(463, 18)

,Age,Male,White,Black,Asian,Other,Mixed,Unknown,Wheal (mm),Flare (mm),Total IgE (kU/L),Peanut IgE (kU/L),Ara h1 (kU/L),Ara h2 (kU/L),Ara h3 (kU/L),Ara h8 (kU/L),Ara h9 (kU/L),OFC Pass
0,6.078029,0,0,1,0,0,0,0,0,0,18,0.04,0.01,0.01,0.01,0.01,0.01,1
1,5.979466,1,1,0,0,0,0,0,0,0,84,0.01,0.01,0.01,0.01,0.01,0.01,1
2,7.030801,0,1,0,0,0,0,0,0,0,67,0.07,0.01,0.01,0.01,0.01,0.01,1
3,6.406571,1,1,0,0,0,0,0,0,0,41,0.01,0.01,0.01,0.01,0.01,0.01,1
4,6.045175,0,1,0,0,0,0,0,0,0,1,0.01,0.01,0.01,0.01,0.01,0.01,1

---

# Loading the EAT Datasets

In [3]:
eat_working = pd.read_excel("Data/EAT_Study/EAT study data 2019_2022-10-12_13-13-35_working.xlsx")

In [4]:
eat_working.head()

,Participant ID,Visit,ethnicity,mother's age at enrolment (years),age mum left full time education,family history of asthma,mother has asthma,father has asthma,family history of eczema,mother has eczema,...,Wheat week 11 consumption in grams,Fish week 11 consumption in grams,Sesame week 11 consumption in grams,Egg week 12 consumption in grams,Milk week 12 consumption in grams,Peanut week 12 consumption in grams,Wheat week 12 consumption in grams,Fish week 12 consumption in grams,Sesame week 12 consumption in grams,case ID
0,1.0,NaN,0.0,32.0,2.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2.0,NaN,0.0,27.0,2.0,1.0,1.0,0.0,1.0,1.0,...,4.0,4.0,4.0,1.0,4.0,4.0,4.0,4.0,4.0,2.0
2,3.0,NaN,0.0,32.0,2.0,1.0,0.0,0.0,1.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0
3,4.0,NaN,3.0,36.0,2.0,1.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
4,5.0,NaN,0.0,31.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0

In [5]:
eat_variables = pd.read_excel("Data/EAT_Study/EAT_variables_for_TrialShare_dataset_30JAN2019_clean.xlsx")

# Investigating Wheal & Flare in LEAP
### goal is to determine values of the wheal and flaire values from LEAP to draw conclusions on whether the EAT data set contains just wheal, or just flare, or both
- will do a statistical analysis on the distribution of values of wheal and flare to see what are the most common values and compare that distribution to the mm values reported in EAT

In [6]:
wheal=leap_dataset["Wheal (mm)"].unique()
wheal.sort()
wheal

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       18, 21, 22, 24])

In [7]:
flare=leap_dataset["Flare (mm)"].unique()
flare.sort()
flare

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 35])

In [8]:
print(eat_working["skin prick test to peanut at 3 month clinic visit"].unique())
print(len(eat_working["skin prick test to peanut at 3 month clinic visit"].unique()))

[  nan 0.    2.25  0.875 4.    3.    3.5   2.    1.5   2.75 ]
10

# Investigating differences between the two EAT datasets given
- EAT study data 2019_2022-10-12_13-13-35_working
- EAT study data 2019_2022-10-12_13-13-35

In [9]:
eat_cols = eat_working.columns.unique()
eat_cols_list = []
eat_cols_list = eat_cols
print("the file named EAT study data 2019_2022-10-12_13-13-35_working has ", len(eat_cols_list), " columns")

the file named EAT study data 2019_2022-10-12_13-13-35_working has  985  columns

In [10]:
eat_2 = pd.read_excel("Data/EAT_Study/EAT study data 2019_2022-10-12_13-13-35.xlsx")
eat_cols2 = eat_2.columns.unique()
eat_cols2_list = []
eat_cols2_list = eat_cols2
print("the file named EAT study data 2019_2022-10-12_13-13-35 has ", len(eat_cols2_list), " columns")

the file named EAT study data 2019_2022-10-12_13-13-35 has  981  columns

In [11]:
# Find column names unique to eat_cols_list
unique_cols_eat = set(eat_cols_list) - set(eat_cols2_list)
print("Unique columns in eat_cols_list:", unique_cols_eat)

# Find column names unique to eat_cols2_list
unique_cols_eat2 = set(eat_cols2_list) - set(eat_cols_list)
print("Unique columns in eat_cols2_list:", unique_cols_eat2)

Unique columns in eat_cols_list: {'Wheat OFC', 'Cod OFC', 'Milk OFC', 'Egg OFC'}
Unique columns in eat_cols2_list: set()

In [12]:
print("shape of eat_working: ", eat_working.shape)
print("shape of eat_2" ,eat_2.shape)

shape of eat_working:  (1307, 985)
shape of eat_2 (1303, 981)

In [14]:
#Making a dataset from eat_working without {'Milk OFC', 'Cod OFC', 'Egg OFC', 'Wheat OFC'} to compare rows

# List of columns to exclude
cols_to_exclude = ['Milk OFC', 'Cod OFC', 'Egg OFC', 'Wheat OFC']

# Exclude columns from eat_cols_list
eat_cols_no_OFC = [col for col in eat_cols_list if col not in cols_to_exclude]

# Create eat_working_no_OFC by copying eat_working with excluded columns
eat_working_no_OFC = eat_working[eat_cols_no_OFC].copy()

In [15]:
# check if the shapes match 
print("shape of eat_working_no_OFC: ", eat_working_no_OFC.shape)
print("shape of eat_2" ,eat_2.shape)

shape of eat_working_no_OFC:  (1307, 981)
shape of eat_2 (1303, 981)

In [16]:
eat_working_no_OFC_cols = list(eat_working_no_OFC.columns.unique())

# Find column names unique to eat_cols_list
unique_cols_eat = set(eat_working_no_OFC_cols) - set(eat_cols2_list)
print("Unique columns in eat_cols_list:", unique_cols_eat)

# Find column names unique to eat_cols2_list
unique_cols_eat2 = set(eat_cols2_list) - set(eat_working_no_OFC_cols)
print("Unique columns in eat_cols2_list:", unique_cols_eat2)

Unique columns in eat_cols_list: set()
Unique columns in eat_cols2_list: set()

at this point there is a difference of 4 rows but the columns are exactly the same.
Checking to see what rows are different

In [17]:
# Find rows unique to eat_working_no_OFC
unique_rows_eat_working_no_OFC = set(eat_working_no_OFC) - set(eat_2)
print("Unique rows in eat_working:", len(eat_working_no_OFC))

# Find rows unique to eat_2
unique_rows_eat_2 = set(eat_2) - set(eat_working_no_OFC)
print("Unique rows in eat_2:", len(eat_2))

Unique rows in eat_working: 1307
Unique rows in eat_2: 1303

all rows are coming up as unique to each dataset. comparing row by row...

In [18]:
len(set(eat_working_no_OFC.iloc[2]) - set(eat_2.iloc[2]))

151

In [19]:
len(eat_working_no_OFC.iloc[2])

981

In [20]:
len(set(eat_working_no_OFC.iloc[3]) - set(eat_2.iloc[3]))

799

In [21]:
len(set(eat_working_no_OFC.iloc[4]) - set(eat_2.iloc[4]))

26

#### Differences are of varying length. Could be due to many reasons such as rows are shifted to different indexes.  
  
Looking at differences between case ID number rows:

In [22]:
matching_index = eat_working_no_OFC[eat_working_no_OFC['case ID'] == 1286].index

In [23]:
matching_index

Int64Index([1285], dtype='int64')

In [24]:
eat_working_no_OFC.iloc[1285]

Participant ID                         1286
Visit                                   NaN
ethnicity                                 0
mother's age at enrolment (years)        28
age mum left full time education          2
                                       ...
Peanut week 12 consumption in grams       4
Wheat week 12 consumption in grams        4
Fish week 12 consumption in grams         4
Sesame week 12 consumption in grams       4
case ID                                1286
Name: 1285, Length: 981, dtype: object

In [25]:
matching_index = eat_2[eat_2['case ID'] == 1286].index
matching_index

Int64Index([1285], dtype='int64')

In [26]:
eat_2.iloc[1285]

Participant ID                         1286
Visit                                   NaN
ethnicity                                 0
mother's age at enrolment (years)        28
age mum left full time education          2
                                       ...
Peanut week 12 consumption in grams       4
Wheat week 12 consumption in grams        4
Fish week 12 consumption in grams         4
Sesame week 12 consumption in grams       4
case ID                                1286
Name: 1285, Length: 981, dtype: object

In [27]:
diff_in_1285= set(eat_working_no_OFC.loc[1285])-set(eat_2.loc[1285])
len(diff_in_1285)

27

In [28]:
list(diff_in_1285)

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [29]:
diff_in_1285= set(set(eat_2.loc[1285]-eat_working_no_OFC.loc[1285]))
len(diff_in_1285)

38

In [30]:
diff_in_1285

{0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

In [31]:
df_1285 = pd.concat([eat_working_no_OFC.loc[1285], eat_2.loc[1285]], axis=1)

In [32]:
df_1285.shape

(981, 2)

In [33]:
df_1285.head()

                                   1285  1285
Participant ID                     1286  1286
Visit                               NaN   NaN
ethnicity                             0     0
mother's age at enrolment (years)    28    28
age mum left full time education      2     2

In [34]:
df_1285_reshaped = df_1285.transpose()
df_1285_reshaped.head()

,Participant ID,Visit,ethnicity,mother's age at enrolment (years),age mum left full time education,family history of asthma,mother has asthma,father has asthma,family history of eczema,mother has eczema,...,Wheat week 11 consumption in grams,Fish week 11 consumption in grams,Sesame week 11 consumption in grams,Egg week 12 consumption in grams,Milk week 12 consumption in grams,Peanut week 12 consumption in grams,Wheat week 12 consumption in grams,Fish week 12 consumption in grams,Sesame week 12 consumption in grams,case ID
1285,1286,NaN,0,28,2,1,0,1,0,0,...,3,1,3,4,4,4,4,4,4,1286
1285,1286,NaN,0,28,2,1,0,1,0,0,...,3,1,3,4,4,4,4,4,4,1286

In [35]:
# Iterate through the DataFrame and drop columns with identical values in both rows
cols_to_drop = []

for col in range(df_1285_reshaped.shape[1]):
    if df_1285_reshaped.iloc[0, col] == df_1285_reshaped.iloc[1, col]:
        cols_to_drop.append(df_1285_reshaped.columns[col])

df_filtered = df_1285_reshaped.drop(cols_to_drop, axis=1)

In [36]:
df_filtered.iloc[1].tolist()

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [37]:
df_filtered.iloc[0].tolist()

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

### lesson learned with NaN values:

When comparing two NaN values, they are considered unequal to each other according to the IEEE 754 floating-point standard, which is the underlying representation of floating-point values in most programming languages, including Python. This behavior is because NaN (Not a Number) represents an undefined or indeterminate value.

In Python, the comparison operators (==, !=, etc.) return False when comparing two NaN values because they are not equal in terms of the IEEE 754 standard. This behavior is consistent with how NaN values are handled in mathematical operations.

---

# List of column names to keep from full dataset 
#### to pull from "EAT study data 2019_2022-10-12_13-13-35_working"

"Child's sex"
- 0=male, 1=female

"ethnicity"
- 0/white, 
- 1/mixed, 
- 2/asian or asian british, 
- 3/black or black british, 
- 4/chinese or other ethnic group
- NA/unknown

"skin prick test to peanut at 3 month clinic visit" (this is the wheal value)  
- measured in mm




#### NOTE: Response to inquiry on OFCs for peanut from collegue:  
"Peanut OFCs outcomes are in the “primary outcome peanut allergy (only those evaluable and within age range” column. 
No flare is available; we’ll have to use wheal for now."

In [ ]:
cols_to_keep = ["Child's sex",
                "ethnicity", 
                "skin prick test to peanut at 3 month clinic visit", 
                "skin prick test to peanut at 12 month clinic visit", 
                "skin prick test to peanut at 36 month clinic visit",
                "primary outcome peanut allergy (only those evaluable and within age range)"]

eat_keep_list = eat_working[cols_to_keep]

Age column will need to be assigned as data is parsed according to these age groups

- 3 MONTH CLINIC VISIT
- 12 MONTH CLINIC VISIT
- 36 MONTH CLINIC VISIT

In [ ]:
#create a new dataset with just the columns we need from EAT


#one hot encoding for ehtninicity 


# child's sex column -> binary Male column 

#figure out how to parse out ages